<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<title>Index</title>

	<style>
		.container-border {
			border: 3px solid #ccc;
			border-radius: 10px;
		}
		p {
			font-size: 18px;
		}
		.t1 {
			font-size: 16px;
		}

	</style>
</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">[ Flask Web Application ]</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/login"><span class="glyphicon glyphicon-log-in">" </span><b> Login</b></a>
				</li>
			</ul>
		</div>
	</nav>

	<br><br>
	<div class="container container-border">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Flask Web Application</h2><hr>
				<p class="text-center">A simple web application build on Python language with Flask. 
					Flask is <b>a micro web Python framework</b> used for building web applications.
				</p>

				<br><br><br>
				<dl class="dl-horizontal">
					<dt class="t1"><u>App Features</u> :</dt>
					<dd><li>The application has proper security measures to prevent unauthorized access.</li></dd>
					<dd><li>The application has proper database management system.</li></dd>
					<dd><li>Users of the application can upload files to the system.</li></dd>
					<dd><li>Uploaded files are stored in the local/server system and 'location-information' of the files are stored in the database.</li></dd>
					<dd><li>Users of the application can see the list of uploaded file in the home page.</li></dd>
					<dd><li>Users of the application can delete the uploaded files frome the system.</li></dd>
					<dd><li>Lastly, users of the application can DOWNLOAD the uploaded files asynchronously.</li></dd>

					<br><br>
					<dt class="t1"><u>Library Packages</u> :</dt>
					<dd><li><b>pip — </b> is the Package Installer for Python.</li></dd>
					<dd><li><b>flask — </b> 'pip install flask'</li></dd>
					<dd><li><b>Flask-MySQL — </b> 'pip install flask-mysql'</li></dd>
					<dd><li><b>mysql-connector — </b> 'pip install mysql-connector-python'</li></dd>
					<dd><li><b>Flask-Uploads — </b> 'pip install Flask-Uploads'</li></dd>
					<dd><li><b>flask-login — </b> 'pip install flask-login'</li></dd>
					<dd><li><b>WTForms — </b> 'pip install WTForms'</li></dd>
					<dd><li><b>aiofiles — </b> 'pip install aiofiles'</li></dd>
					<dd><li>And some other library packages which is installed by default with flask like — 
							<b>Jinja, werkzeug, asyncio </b> etc.</li></dd>
					
					
					<br>
				</dl>

			</div>
		</div>

</body>

</html>